[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
flake8 = "*"
autopep8 = "*"

[packages]
djongo = "*"
django = "*"
pytest-django = "*"
pytest-cov = "*"
coverage = "*"
gevent = "*"
djangorestframework = "*"
gunicorn = "*"

[requires]
python_version = "3.7"
